@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&family=Roboto&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: #f0f0f0;
    padding: 0;
    margin: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;

}

/* banner style starts */
.top-banner1 {
    margin-top: 50px;
}

.top-banner {
    margin-top: 50px;
    padding-bottom: 100px;
}

.banner-info {
    display: flex;
    align-items: center;
    background-color: #161616;
    border-radius: 15px;
}

.banner-tittle {
    margin: 20px 40px;

}

.banner-text {
    color: white;
    font-weight: 600;
    font-size: 65px;
}

#b-text {
    font-size: 16px;
    color: white;
}

.btn {
    color: white;
    text-decoration: none;
    background-color: #DD0000;
    padding: 10px 20px;
    border-radius: 5px;
    transition: ease-out 0.3s;
    box-shadow: inset 0 0 0 0 blue;

}

.btn:hover {
    box-shadow: inset 300px 0 0 0 blue;
}

.banner-img {
    position: relative;
    width: 380px;
    height: 550px;
    margin-top: 15px;
    margin-right: 45px;
}

/* banner style ends */
/* main style starts */


.gird {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
}

/* side box style starts */
.box {
    width: 240px;
    height: 300px;
    background: #161616;
    border-radius: 10px;
}

.box-btn {
    padding: 30px;


}

.button {
    text-decoration: none;
    background-color: white;
    color: black;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    font-weight: 500;
}

#group {
    padding: 12px 45px;
    text-decoration: none;
    background-color: white;
    color: black;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 20px;
    font-weight: 500;
}


#blog-btn {
    padding: 10px 67px;
    background-color: #DD0000;
    color: white;
}

/* side box style ends */
/* side blog style starts */
.transfer-boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}

.tranfer-box {
    width: 275px;
    height: 100%;
    border-radius: 10px;
    border: 2px solid #E8E8E8;
    background-color: whitesmoke;
    padding-bottom: 10px;
}

.transfer-img img {
    width: 275px;
    height: 175px;
    margin-top: -1px;
}

.tranfer-info {
    padding-left: 20px;
}

#tns-btn {
    font-weight: 500;
    font-size: 16px;
    padding: 4px 16px;
    border-radius: 5px;
}

.tranfer-info h3 {
    font-size: 16px;
}

#font-awsome {
    display: flex;
    justify-content: start;
    padding-left: 20px;
}

/* side blog style ends */
/* main section ends */

/* view button start */
.main-button {
    text-align: center;
    margin-bottom: 40px;
    visibility: hidden;
}

.main-btn {
    background-color: #DD0000;
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 10px;
    color: white;

}

/* view button ends */

/* footer style starts */
.footer {
    width: 100%;
    background-color: #161616;

}



.foot-text {
    color: white;

}

.foot-short-text {
    display: flex;
    justify-content: center;
}

.foot-icon {
    display: flex;
    justify-content: center;
    font-size: 40px;

}

.foot-icon a {
    padding: 0 20px;
}

.foot-text h2 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.foot-short-text h3 {
    padding: 20px;
}

/* hr {
    width: 1140px;
} */

/* footer style ends */

/* upcoming match style starts */
.button-um {
    text-decoration: none;
    background-color: #DD0000;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    font-weight: 500;
}

#blog-btn-um {
    padding: 10px 67px;
    background-color: white;
    color: black;
}

.tranfer-box-um {
    width: 275px;
    height: 50%;
    border-radius: 10px;
    border: 2px solid #E8E8E8;
    background-color: whitesmoke;
    padding-top: 40px;
    padding-bottom: 40px;

}

.transfer-um {
    display: flex;
    justify-content: space-evenly;

}

.flag-img img {
    width: 80px;
    height: 50px;
}

/* upcoming match style ends */

/* All Group style starts */
#group-grp {
    padding: 12px 45px;
    text-decoration: none;
    background-color: #DD0000;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 20px;
    font-weight: 500;
}

/* All Group style ends */

/* media query breakpoints mobile starts */
@media only screen and (max-width:688px) {

    .container {
        width: 100%;
    }

    .banner-info {

        display: flex;
        flex-direction: column;
    }

    .banner-tittle {
        text-align: center;
    }

    .banner-text {
        font-size: 45px;
    }

    .box {
        background-color: #f0f0f0;
    }

    #width {
        padding: 0px 200px;
    }

    .gird {
        display: inline;

    }

    .transfer-boxes {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }

    .footer {
        width: 100%;
        overflow-x: hidden;
    }

    .foot-short-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .foot-text h2 {
        text-align: center;
    }
}

/* media query breakpoints mobile ends */
/* media query breakpoints tablet starts */

@media only screen and (max-width: 992px) and (min-width: 689px) {
    .container {
        width: 100%;
    }

    .gird {
        display: inline;
    }

    .box {
        background-color: #f0f0f0;
    }

    .box-btn {
        padding: 10px 200px;
        display: inline-flex;
    }

    .transfer-boxes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 24px;

        align-items: center;
        justify-items: center;

    }

    .main-button {
        visibility: visible;
    }

    .footer {
        width: 100%;
        overflow-x: hidden;
    }

    .foot-short-text {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* media query breakpoints mobile starts */